#container
/* force grid container to fill browser vertically */
height: 100vh;
display: grid;
/* create 2 columns, this makes 3 grid lines */
grid-template-columns: 2fr 1fr;


grid-template-rows: 100px minmax(200px, 1fr) 100px;
grid-gap: 10px;


header, footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

main{

}